<html>
<head>
  <title>Your mission. Good Luck!</title>
</head>
<body>
  <blockquote>
    <i>Your mission, should you decide to accept it.</i>
  </blockquote>

  <main role="main">
    <strong>This is a page kind layout.</strong>
    <br/>

    {{ content | safe }}
  </main>

  <blockquote>
    <i>As always, should you be caught or killed,
    any knowledge of your actions will be disavowed.</i>
  </blockquote>
</body>
</html>

