{% extends "layouts/columns-double.njk" %}

{% block main_color %}cyan{% endblock %}
{% block aside_color %}purple{% endblock %}

{% block widget_body %}
  <p>This is an archive kind layout.</p>
{% endblock %}
