<!DOCTYPE html>
<html lang="en">

<head>
  {% include "site/head.njk" %}
</head>

<body>
  <!-- header -->
  {% include "site/header.njk" %}

  {% block general %}
  <!-- main -->
  <div class="columns is-8 layout-base maxwidth">
    {% block main %}
    {{ content | safe }}
    {% endblock %}

    {% block aside %}{% endblock %}
  </div>
  {% endblock %}

  <!-- footer -->
  {% include "site/footer.njk" %}
  {% include "site/scripts.njk" %}
</body>

</html>
