{% extends "layouts/columns-double.njk" %}

{% block main_color %}pink{% endblock %}
{% block aside_color %}green{% endblock %}

{% block widget_body %}
  <p>This is a page kind layout.</p>
{% endblock %}
{% extends "layouts/base.njk" %}
