---
layout    : tag-name
eleventyExcludeFromCollections: true

pagination:
  data: collections
  size: 1
  alias: tag

permalink: /tags/{{ tag }}/

renderData:
  title: Tagged “{{ tag }}”

---

  {% set postslist = collections[ tag ] %}
  <div class="archive-list">
  {%- for post in postslist -%}
    <div class="archive-item meta-item">
      <div class="meta_link has-text-right">
        <time class="meta_time is-pulled-right"
              datetime="{{ post.date | date() }}">
          {{ post.date | date('MMM DD, Y') }}&nbsp;
          &nbsp;<span class="fa fa-calendar"></span></time></div>
      <div class="is-pulled-left">
      <a href="{{ post.url | url }}">
        {{ post.data.title }}
      </a></div>
      <div class="is-clearfix"></div>
    </div>
  {%- endfor -%}
  </div>

  <p><a href="{{ '/tags/' | url }}"
        class="button is-small"
       >List of all tags</a></p>
