{% extends "layouts/base.njk" %}

{% block main %}
  <h2>{{ title or metadata.title }}</h2>
  <strong>This is an index kind layout, to show landing page.</strong>
  <br/>

  {{ content | safe }}
{% endblock %}
