{% extends "layouts/widget.njk" %}

{% set color = 'green' %}

{% block widget_header %}
  <strong>Archive This Month</strong>
  <span class="fa fa-archive is-pulled-right"></span>
{% endblock %}

{% block widget_body %}

  {% set posts = collections.posts %}
  {% set page_year = page.date | date('Y')  %}
  {% set page_month = page.date | date('MM')  %}

  {%- set posts = posts | mapdate  -%}
  {%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

  {%- for year, postsInYear in groupByYear -%}
      {%- if year == page_year -%}
        {%- set groupByMonth = postsInYear | groupBy('month') -%}
        {%- set groupByMonth = groupByMonth | dictsort | reverse -%}

        {%- for month, postsInMonth in groupByMonth -%}
          {%- if month == page_month -%}
            <ul class="widget-list">
            {%- for post in postsInMonth | sort(false, true, 'month') -%}

            <li>
              <a href="{{ post.url | url }}">
                {{ post.data.title }}
              </a>
            </li>
            {%- endfor -%}
            </ul>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
  {%- endfor -%}

{% endblock %}
