{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" 
        class="column is-full">

    <section class="main-wrapper blue-grey">
      <div class="blog white z-depth-3 hoverable">

        <section class="blog-header has-text-centered
                        blue-grey lighten-5">
          <div class="main_title"> 
            <h4 class="title is-4"
                itemprop="name headline">
              {{ renderData.title or title or metadata.title }}</h4>
          </div>
        </section>

        <article class="blog-body has-text-centered"
                 itemprop="articleBody">
          {{ content | safe }}
          <div class="notification blue darken-3 is-dark">
            This is a home kind layout,
            to show landing page.
          </div>
        </article>

      </div>
    </section>

  </main>
{% endblock %}
