
{%- set posts = posts | mapdate -%}
{%- set groupByYear = posts | groupBy('year') | dictsort | reverse -%}

<div id="archive">
{%- for year, postsInYear in groupByYear -%}
  <section>

    <div class="widget white z-depth-1 hoverable m-b-10">
      <div class="widget-header {{ color }} lighten-4">

        <div class ="anchor-target archive-year" 
             id="{{ year }}">{{ year }}</div>

      </div>
      <div class="widget-body">

        <div class="archive-list p-y-5">
          {%- for post in postsInYear | sort(false, true, 'month') -%}
            {% include "index/each-post.njk" %}
          {%- endfor -%}
        </div>

      </div>
    </div>

  </section>
{%- endfor -%}
</div>
