{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" 
        class="column is-two-thirds">
    <article class="blog-post box">
    {% block main_header %}
      <h2 class="title is-4"
        >{{ renderData.title or title or metadata.title }}</h2>
      {{ content | safe }}
    {% endblock %}
    </article>
  </main>
{% endblock %}

{% block aside %}
  <aside class="column is-one-thirds">
    <div class="box">
    {% block aside_body %}
      This is a default kind layout.
    {% endblock %}
    </div>
  </aside>
{% endblock %}
