{% extends "layouts/base.njk" %}

{% block main %}
  <main role="main" 
        class="column is-full">
    <article class="blog-post box">
      <h2 class="title is-4"
        >{{ renderData.title or title or metadata.title }}</h2>

      {{ content | safe }}

      <div class="notification is-info">
        This is a home kind layout,
        to show landing page.
      </div>
    </article>
{% endblock %}
