  <div class="main_title"> 
    <h2 class="title is-4" itemprop="name headline">
      <a href="{{ page.url | url }}">
        {{ renderData.title or title or metadata.title }}
      </a></h2>
    <b>{{ page.date | date('MMMM Do, YYYY') }}</b>
  </div>
