<html>
<head>
  {% include "site/head.njk" %}
</head>
<body>
  {# use default unless available #}
  {% set color = color or 'brown' %}
  
  <main role="main">
    <p><i>This is a variable propagation test.</i></p>
    {{ content | safe }}
    <p>In this layout, color is <b>{{ color }}</b>.</p>
  </main>
</body>
</html>
