{% extends "layouts/base.njk" %}

{% block main %}
  <h2>{{ title }}</h2>
  <pre>{{ page.date }}</pre>
  <br/>

  <strong>This is a post kind layout.</strong>
  <br/>

  {{ content | safe }}
{% endblock %}
