{% set totalPages = pagination.links.length %}
{% set current    = pagination.pageNumber + 1 %}

{# 
* Pagination links 
* https://glennmccomb.com/articles/how-to-build-custom-hugo-pagination/
* Adjacent: Number of links either side of the current page
#}

{% if totalPages > 1 %}
<nav class="pagination is-small is-centered"
     role="navigation" aria-label="pagination">

  {% set adjacentLinks = 2 %}
  {% set maxLinks      = (adjacentLinks * 2) + 1 %}
  {% set lowerLimit    = 1 + adjacentLinks %}
  {% set upperLimit    = totalPages - adjacentLinks %}

  <ul class="pagination-list">

    {# <!-- Page numbers. --> #}
    {% for cursor, link in pagination.links | hashIt %}

      {% set showCursorFlag = false %}

      {% if (totalPages > maxLinks) %}
        {# <!-- Complex page numbers. --> #}

        {# <!-- Lower limit pages. --> #}
        {# <!-- If the user is on a page which is in the lower limit.  --> #}
        {% if (current <= lowerLimit) %}

          {# <!-- If the current loop page is less than max_links. --> #}
          {% if (cursor <= maxLinks) %}
            {% set showCursorFlag = true %}
          {% endif %}

        {# <!-- Upper limit pages. --> #}
        {# <!-- If the user is on a page which is in the upper limit. --> #}
        {% elif (current >= upperLimit) %}

          {# <!-- If the current loop page is greater than total pages minus $max_links --> #}
          {% if (cursor > (totalPages - maxLinks)) %}
            {% set showCursorFlag = true %}
          {% endif %}

        {# <!-- Middle pages. --> #}
        {% else %}
          
          {% if ( (cursor >= current - adjacentLinks) 
              and (cursor <= current + adjacentLinks) ) %}
            {% set showCursorFlag = true %}
          {% endif %}

        {% endif %}

      {% else %}
        {# <!-- Simple page numbers. --> #}
        {% set showCursorFlag = true %}
      {% endif %}

      {# <!-- Show Pager. --> #}
      {% if showCursorFlag %}
      <li>
        {% if cursor == current  %}

        <a class="pagination-link is-current {{ color }}"
           aria-label="Page {{ cursor }}">
          {{ cursor }}
        </a>

        {% else %}

        <a class="pagination-link hoverable"
           href="{{ link }}"
           aria-label="Goto page {{ cursor }}">
          {{ cursor }}
        </a>

        {% endif %}
      </li>
      {% endif %}

    {% endfor %}

  </ul>
</nav>
{% endif %}

