---
layout    : tags
title     : List of Tags
eleventyExcludeFromCollections: true
---

  <div class="content">
  <ul>
    {% for tag in collections.tagList %}
    <li>
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="tag is-link">{{ tag }}</a>
    </li>
    {%- endfor -%}
  </ul>
  </div>
