---
layout    : layouts/page
eleventyExcludeFromCollections: true
---

  <p>To have, to hold, to love,
  cherish, honor, and protect?</p>
  
  <p>To shield from terrors known and unknown?
  To lie, to deceive?</p>

  <p>To live a double life,
  to fail to prevent her abduction,
  erase her identity, 
  force her into hiding,
  take away all she has known.</p>


